body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5em;
  text-align: center;
}

div {
  /*
  border-width: 3px;
  border-style: solid;
  border-color: red;
  */
  background-color: white;
}

p {
  margin: 10px 0px 0px 0px;
}

.pic {
  width:80%;
  margin:auto;
}

.timeLeftClass{
  min-height: 10px;
  margin: auto;
  padding-bottom: 50px;
  font: 32px Times;
  text-align: center;
}

.overlay {
    opacity:1.0;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

.textDiv { 
  width: 70%;
  padding: 10px;
  margin: auto;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  min-height: 400px;
}

.exampleP {
  display: inline-block;
  font-style: italic;
  margin: 0px;
}

.ratingRadio {
  display: inline-block;
  margin: 5px;
}


.infoClass, .backgroundClass, .consentClass {
  /*padding: 20px;*/
}

.textInput {
  height: 100px;
  min-height: 20px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  font: 40px/100px Times;
  text-align: left;
  padding: 5px;

}

.outerStim {
  height: 400px;
  width: 750px;
  position: absolute;

  margin: -200px 0 0 -375px;
  left: 50%;
  top: 50%;

  border-color: blue;
}

.middleStim {
  border-color: green;
  opacity: 1;
}

.respLog{
  font: 32px Times;
  text-align: center;
  min-height: 1px;
  opacity: 1;

}

.stim {
  font: 40px/300px Times;
  text-align: center;
  min-height: 1px;
  opacity: 1;
}

.button {
  border-width: 1px;
  border-style: solid;
  border-color: black;

  width: 100px;
  margin: 10px auto;

  padding: 10px;
  text-align: center;
  background-color: darkgrey;
  color: black;
}

.form_info {
  font: 16px Times;
  font-weight: bold;
}

.consentFormButton {
  border-width: 1px;
  border-style: solid;
  border-color: black;

  display: inline-block;

  width: 160px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  background-color: darkgrey;
  color: black;
}

.buttonContainer {
  width: auto;
  margin: auto;
  text-align:center;

  border-color: yellow;
}

.ratingButton, .distButton {
  border-width: 1px;
  border-style: solid;
  border-color: black;

  display: inline-block;

  width: 60px;
  margin: 5px;
  padding: 10px;
  text-align: center;
  background-color: darkgrey;
  color: black;
}

.button_hover {
  background: grey;
  cursor: pointer;
}

.scaleText {
  font: 20px Times;
  text-align: center;
}

.ratingQuestionText {
  font: 20px Times;
  text-align: center;
}


.endText {
  width: 70%;
}